# Terraform state files
*.tfstate
*.tfstate.*

# Terraform lock file
.terraform.lock.hcl

# .terraform directory contains the terraform binary and other ephemeral files
.terraform/

# Sensitive data
stg-ehr-eksBastion-keypair

# temp
eks/